
.ProgramSPTitle {color: #008800; background-color: #; font-family: 'Comic Sans MS'}

.MenuBody {color: #ffffff; background-color: #0000ff; line-height:1;}
.BaseBody {color: #0000ff; background-color: #ffffff; line-height:1; font-size:12pt;}
.category {background-color: #dddddd; text-align: center;}
.command  {background-color: #bbbbff; font-size:12pt;}
.switch   {background-color: #ddddff; font-size:12pt;}
.sample   {background-color: #eeffee; font-size:12pt;}

.MenuTitle {color: #00FFFF; font-size:12pt}
.Menu      {color: #008800; font-size:12pt}
.Link      {font-size:9pt;}
.MEMO      {color: #669966; font-size:11pt}
.HP        {color: #008800; font-size:11pt}
.CAUTION   {color: #ff0000; font-size:11pt}

/*              */
/* ヒストリー用 */
/*              */
.his_cate  {color: #008800; font-size:12pt}
.his_caut  {color: #ff4444; font-size:12pt}
.his_harf  {color: #999999; font-size:12pt}

